.table_add { background: url("../icons/arrow/add.png") left top no-repeat !important;}
.table_edit { background: url("../icons/building_edit.png") left top no-repeat !important;}
.table_delete { background: url("../icons/delete.png") left top no-repeat !important;}
